version: '3'

services:
  postgres:
    image: postgres:13.4
    privileged: true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres"]
      timeout: 45s
      interval: 10s
      retries: 10
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB="my-service"
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432 
  app : 
    build : .
    ports :
      - 4242:4242
    depends_on:
      - postgres
    environment:
      - DB_HOST=192.168.219.101
    volumes:
      - ./src:/app/src
