#gameBox{
	border: 1px solid #C9A641;
	border-radius: 25px;
	background-color: whitesmoke;
}
#gameBoxButton{
	border: 1px solid #C9A641;
	border-radius: 10px;
}
#gameBoxButton:hover{
	background-color: #C9A641;
}