#qrcode{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
#qrborder{
    border: 1px solid #C9A641;
    border-radius: 25px;
    padding: 2em;
}
#qrtitle{
    justify-content: center;
}
#qrinput{
    border: 1px solid #C9A641;
    border-radius: 10px;
}
#qrinput:focus{
    border: 2.5px solid #C9A641;
    color: transparent;
    outline: none;
}
#qrbutton{
    border: 1px solid #C9A641;
    border-radius: 5px;
}
#qrbutton:hover{
    background-color: #C9A641;
}
