#admin{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        "title  back"
        "userlist"
        / 3fr 2fr;
    ;
}
#title{
    grid-area: title;
    border: solid black 1px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    padding: 5%;
}
#backBtn{
    grid-area: back;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
    border: solid rgb(32, 4, 4) 1px;
    text-align: center;
    padding: 5%;
}
#userlist{
    grid-area: userlist;
    grid-row: 2 / span 12;
    grid-column: 1 / 6;
    border: solid black 1px;
    padding: 3%;
    margin: 3%;
    overflow: visible;
    font-size: xx-large;
}