#gameHeader{
    text-align: center;
}

#gameContents{
    width: 100vw;
    height: 100vh;
    /* border-style: solid; */
}

#gameTab{
    width: 15rem;
    height: 100%;
    /* border-style: solid; */
}

#nav-game{
    height: 100%;
    background-color: cornsilk;
    /* border-style: solid; */
}

#nav-chat{
    background-color: ivory;
}