/* #gamelobby{
    width: 100vw;
    height: 100vh;
} */
#gameContents{
    /* height: 100vh; */
    /* border-style: solid; */
}
#gameTab{
    /* width: 15rem; */
    /* height: 100vh; */
    /* border-style: solid; */
}
#nav-game{
    height: 100vh;
    /* background-color: cornsilk; */
    /* border-style: solid; */
}
#nav-chat{
    height: 100vh;
    /* background-color: ivory; */
    /* border-style: solid; */
}