body{
	background-color: #6D6162;
}
#loginButton{
	border: 1px solid #C9A641;
	color: whitesmoke;
	font-size: 1.5em;
	width: 25%;
}
#loginButton:hover{
	background-color: #C9A641;
}
#loginButton:focus{
	box-shadow: none;
}
#main{
	width: 100vw;
	height: 100vh;
	display: block;
	margin: 0px auto;
}
#logo{
	width: 60%;
	min-width: 500px;
	max-width: 700px;
	display: block;
	margin: auto;
}