.profile{
    text-align: center;
    background-color: rgb(219, 205, 205);
    /* border-style: solid; */
}

.img{
    width: 150px;
    height: 200px;
    border-radius: 40%;
    object-fit: cover;
    overflow: hidden;
    margin: 2%;
}