#player1, #player2{
	border: 1px solid #C9A641;
	border-radius: 25%;
	height: 6em;
	object-fit: fill;
	overflow: hidden;
	padding: 0%;
	width: 6em;
}
#observer{
	border: 1px solid #C9A641;
	border-radius: 25%;
	display: flex;
	height: 3em;
	justify-content: center;
	overflow: hidden;
	padding: 0%;
	width: 3em;
}
#menuPlay{
	text-align: center;
}
#menuScore{
	color: #C9A641;
	justify-content: center;
}
#observerImg{
	height: 60%;
}
#observerFirst, #observerSecond{
	margin: auto;
	margin-top: 10%;
	width: 100%;
}
#observerSecond{
	margin-bottom: 15%;
}
#observerFirstContent, #observerSecondContent{
	display: flex;
	justify-content: center;
}
#exitButton{
	background-color: #6D6162;
	border: 1px solid #C9A641;
	border-radius: 15px;
	color: whitesmoke;
	justify-content: center;
}
#exitButton:hover{
	background-color: #C9A641;
}