#playRoom{
    height: 100%;
    max-height: 85vh;
}
#canvasInput{
    background-color: #6D6162;
    border: 0px;
    height: 2.4em;
}
#canvasInput:focus{
    color: transparent;
    outline: none;
}
#canvas{
    height: 100%;
}
#canvasBorder{
    height: 95%;
    min-height: 500px;
    border: 1px solid #C9A641;
    border-radius: 25px;
    background-color: whitesmoke;
}
