#matchHistory{
    height: 14em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#myMatchHistory{
    height: 16em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#myProfile{
    width: 9em;
    height: 9em;
    justify-content: center;
    align-items: flex-start;
}
#modalProfile{
    width: 8em;
    height: 8em;
}
#friendProfile{
    width: 2.5em;
    height: 2.5em;
    border: .5px solid #C9A641;
    border-radius: 50px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#newFriendContent{
    align-items: center;
}
#friendContent{
    /* text-center align-items-center */
    text-align: center;
    align-items: center;
    padding-left: 1em;
}
#friendContent:hover, #newFriendContent:hover{
    background-color: #C9A641;
}
#checkMark:hover, #crossMark:hover{
    border-radius: 5px;
	box-shadow: .5px .5px 2px 1px #6D6162;   
}
#myProfileNav{
    height: 16em;
}
#myprofile-nav-tabContent{
    overflow: scroll;
    height: 80%;
}
#myProfileQrcode{
    height: 100%;
    width: 100%;
    justify-content: center;
}
#nav-friend-tab, #nav-block-tab{
    color: black;
}
#modalProfile, #profileNickname, #profileLevel, #matchHistory, #myMatchHistory, #myProfileNav, #myProfile{
    border: 1px solid #C9A641;
    border-radius: 15px;
}
#profileBorder{
    border: 1px solid #C9A641;
    border-radius: 10px;
    justify-content: center;
}
#modalInput2fa{
    min-width: 6.5em;
}
#modalTwofactor{
    border: .5px solid #C9A641;
    border-radius: 15px;
}
#modalTwofactorTitle{
    border-bottom: .5px solid #C9A641;
}