#matchHistory{
    height: 14em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#myMatchHistory{
    height: 16em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#myProfile{
    width: 9em;
    height: 9em;
    justify-content: center;
    align-items: flex-start;
}
#modalProfile{
    width: 8em;
    height: 8em;
}
#friendProfile{
    width: 40px;
    height: 40px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#friendContent:hover{
    background-color: burlywood;
}
.Mark:hover{
    background-color: rgba(240, 150, 32, 0.699);
}
#myProfileNav{
    height: 16em;
}
#myprofile-nav-tabContent{
    overflow: scroll;
    height: 80%;
}
#myProfileQrcode{
    height: 100%;
    width: 100%;
    justify-content: center;
}
#nav-friend-tab, #nav-block-tab{
    color: black;
}
#modalProfile, #profileNickname, #profileLevel, #matchHistory, #myMatchHistory, #myProfileNav, #myProfile{
    border: 1px solid #C9A641;
    border-radius: 15px;
}
#profileBorder{
    border: 1px solid #C9A641;
    border-radius: 10px;
    justify-content: center;
}
#modalInput2fa{
    min-width: 6.5em;
}