#waitingroomtitle{
    height: 1.5em;
}
#waitingroombox{
    height: 11em;
}
#waitingroomobserver{
    height: 10em;
}
#waitingroombtn{
    height: 4em;
}
.player > img {
    height: 8em;
}
.observer > img {
    height: 8em;
}